<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include partials/head.ejs %>
  </head>
  <body>
  <div class="container-fluid">
  	<div class="container">
  		<% include partials/nav.ejs %>
	    <h1>Home</h1>
	    <p>Welcome to Home</p>    
  	</div>
  </div>
  <% include partials/script.ejs %>
  </body>
</html>
